$bgcolor: #171d16;
$textcolor: #daead7;
$bordercolor: #0c100a;
$elementcolor: #212d1e;


.app{
    .container{

        .login{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $bgcolor;
            
            h1{
                font-size: 3.2em;
                color: $textcolor;
                box-shadow:
                0 2.8px 2.2px rgba(0, 0, 0, 0.034),
                0 6.7px 5.3px rgba(0, 0, 0, 0.048),
                0 12.5px 10px rgba(0, 0, 0, 0.06),
                0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12)
              ;

            }
            form{
                display: flex;
                flex-direction: column;
                padding: 20px;
                background-color: white;
                width: 350px;
                gap: 20px;
                border-radius: 25px;
                // box-shadow: 15px 15px 10px $bordercolor;
            //     box-shadow:
            //     0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            //     0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            //     0 12.5px 10px rgba(0, 0, 0, 0.06),
            //     0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            //     0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            //     0 100px 80px rgba(0, 0, 0, 0.12)
            //   ;
            box-shadow: 0 0 15px 15px $bordercolor;
            }
            input{
                padding: 20px;
                border: none;
                border-bottom: 1px solid $bordercolor;
                font-size: medium;
            }
            button{
                padding: 10px;
                border: none;
                // background-color: teal;
                background-color: $elementcolor;
                cursor: pointer;
                color: $textcolor;
                font-size: 1.3em;
                margin-bottom: 10px;

            }
            p{
                font-size: 1em;
                color: red;
                text-align: center;
            }
            span{
                font-size: 1em;
                text-align: center;
            }
        }
    }
}

.navbar{
    .container{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        padding: 10px;
        // background-color: red;

        .logout{
            color: red;
            // border-bottom: 1px solid;
            cursor: pointer;
        }
    }
}

.todos{

    // background-color: red;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    background-color: grey;

    .container{
        display: flex;
        height: 80vh;
        // border: 1px solid $bordercolor;
        border: 1px solid red;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $bgcolor;
        gap: 20px;
        .todo{
            color: $textcolor;
            display: flex;
            flex-direction: column;
            line-height: 10px;
        }
        .todoForm {
            display: flex;
            justify-content: space-around;
            width: 450px;
        }
        input {
            width: 80%;
            padding: 10px;
            border-radius: 20px;
            border: none;
          }
          
        button {
            border: none;
            padding: 10px;
            border-radius: 20px;
            margin: 0 5px;
          }
        ul{
             list-style: none;
             margin: 0;
             padding: 0;
             li{
                 border-radius: 50px;
                 margin: 10px 0;
                 background-color: #5dadf8;
                 padding: 10px 20px;
                 display: flex;
                 width: 450px;
                 align-items: center;
               }
               .todoText {
                 flex: 1;
               }
        }
    }
}