$bgcolor: #171d16;
$textcolor: #daead7;
$bordercolor: #0c100a;
$elementcolor: #212d1e;


.app{
    .container{

        .login{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $bgcolor;
            
            h1{
                font-size: 3.2em;
                color: $textcolor;

            }
            form{
                display: flex;
                flex-direction: column;
                padding: 20px;
                background-color: white;
                width: 350px;
                gap: 20px;
            }
            input{
                padding: 20px;
                border: none;
                border-bottom: 1px solid $bordercolor;
                font-size: medium;
            }
            button{
                padding: 10px;
                border: none;
                // background-color: teal;
                background-color: $elementcolor;
                cursor: pointer;
                color: $textcolor;
                font-size: 1.3em;
                margin-bottom: 10px;

            }
            p{
                font-size: 1em;
                color: red;
                text-align: center;
            }
            span{
                font-size: 1em;
                text-align: center;
            }
        }
    }
}

.navbar{
    .container{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;
        padding: 10px;
        // background-color: red;

        .logout{
            color: red;
            // border-bottom: 1px solid;
            cursor: pointer;
        }
    }
}